USE [Movies]
GO
/****** Object:  Table [dbo].[Rental_Detail]    Script Date: 01/03/2025 9:53:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rental_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[Rental_Detail]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 01/03/2025 9:53:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rental]') AND type in (N'U'))
DROP TABLE [dbo].[Rental]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 01/03/2025 9:53:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Movie]') AND type in (N'U'))
DROP TABLE [dbo].[Movie]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 01/03/2025 9:53:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 01/03/2025 9:53:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  UserDefinedDataType [dbo].[Movie_num]    Script Date: 01/03/2025 9:53:56 PM ******/
DROP TYPE [dbo].[Movie_num]
GO
/****** Object:  UserDefinedDataType [dbo].[Invoice_num]    Script Date: 01/03/2025 9:53:56 PM ******/
DROP TYPE [dbo].[Invoice_num]
GO
/****** Object:  UserDefinedDataType [dbo].[Cust_num]    Script Date: 01/03/2025 9:53:56 PM ******/
DROP TYPE [dbo].[Cust_num]
GO
/****** Object:  UserDefinedDataType [dbo].[Category_num]    Script Date: 01/03/2025 9:53:56 PM ******/
DROP TYPE [dbo].[Category_num]
GO
/****** Object:  UserDefinedDataType [dbo].[Category_num]    Script Date: 01/03/2025 9:53:56 PM ******/
CREATE TYPE [dbo].[Category_num] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Cust_num]    Script Date: 01/03/2025 9:53:56 PM ******/
CREATE TYPE [dbo].[Cust_num] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Invoice_num]    Script Date: 01/03/2025 9:53:56 PM ******/
CREATE TYPE [dbo].[Invoice_num] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Movie_num]    Script Date: 01/03/2025 9:53:56 PM ******/
CREATE TYPE [dbo].[Movie_num] FROM [int] NOT NULL
GO
/****** Object:  Table [dbo].[Category]    Script Date: 01/03/2025 9:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_num] [int] IDENTITY(1,1) NOT NULL,
	[Descriptionn] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 01/03/2025 9:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Cust_num] [int] IDENTITY(300,1) NOT NULL,
	[Lname] [varchar](20) NOT NULL,
	[Fname] [varchar](20) NOT NULL,
	[Address1] [varchar](30) NULL,
	[Address2] [varchar](20) NULL,
	[City] [varchar](20) NULL,
	[Statee] [char](2) NULL,
	[Zip] [char](10) NULL,
	[Phone] [varchar](10) NOT NULL,
	[Join_date] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 01/03/2025 9:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Movie_num] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Category_num] [int] NOT NULL,
	[Date_purch] [smalldatetime] NULL,
	[Rental_price] [int] NULL,
	[Rating] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 01/03/2025 9:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[Invoice_num] [int] NOT NULL,
	[Cust_num] [int] NOT NULL,
	[Rental_date] [smalldatetime] NOT NULL,
	[Due_date] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental_Detail]    Script Date: 01/03/2025 9:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental_Detail](
	[Invoice_num] [int] NOT NULL,
	[Line_num] [int] NOT NULL,
	[Movie_num] [int] NOT NULL,
	[Rental_price] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
